Repository COS301-SE-2024/BeakPeek, pull requests merged in 2024-08, with the labels that each got.

#147 Dev/testing/all
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/View/Home/Searching/searchbar_container.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/test/Database/database_calls_test.dart
  beakpeek/test/Database/life_list_provider_test.dart
  beakpeek/test/Database/life_list_provider_test.mocks.dart
  beakpeek/test/Searching/bird_search_functions_test.mocks.dart
  beakpeek/test/Searching/searchbar_container_test.dart
  beakpeek/test/UserProfile/local_storage_test.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
  dotnet/BeakPeekApi/Program.cs
Labels: testing

#168 Added location to the map and added the quiz.
  .vscode/settings.json
  beakpeek/android/build.gradle
  beakpeek/android/settings.gradle
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/bird.dart
  beakpeek/lib/Model/bird_map.dart
  beakpeek/lib/Model/bird_search_functions.dart
  beakpeek/lib/View/Home/bird_map.dart
  beakpeek/lib/View/Home/bird_quiz.dart
  beakpeek/lib/View/Home/bird_sheet.dart
  beakpeek/lib/View/Home/heat_map.dart
  beakpeek/lib/View/Home/heat_map_info.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/Map/bird_map_model_test.dart
  beakpeek/test/Map/map_test.dart
  beakpeek/test/bird_quiz_test.dart
  beakpeek/test/bird_test.dart
  beakpeek/test/heat_map_test.dart
  beakpeek/test/home_test.dart
  dotnet/BeakPeekApi.Tests/Controllers/BirdInfoControllerTest.cs
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Helpers/BirdInfoHelper.cs
Labels: feature

#170 Achivement Finished
  beakpeek/devtools_options.yaml
  beakpeek/lib/Controller/DB/achievements_provider.dart
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Model/achievement.dart
  beakpeek/lib/Model/user_profile_function.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
Labels: feature, frontend

#184 Fully deployed the app and fixed an endpoint
  beakpeek/lib/Controller/DB/achievements_provider.dart
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Controller/Main/routing_data.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/BirdInfo/bird_pentad.dart
  beakpeek/lib/Model/BirdInfo/pentad.dart
  beakpeek/lib/Model/BirdInfo/province.dart
  beakpeek/lib/Model/Sightings/sightings_functions.dart
  beakpeek/lib/Model/UserProfile/achievement.dart
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
  beakpeek/lib/Model/bird_map.dart
  beakpeek/lib/Model/bird_page_functions.dart
  beakpeek/lib/Model/bird_search_functions.dart
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Home/Searching/searchbar_container.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Map/bird_map.dart
  beakpeek/lib/View/Map/bird_sheet.dart
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/lib/View/Map/heat_map_info.dart
  beakpeek/lib/View/Map/map_info.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
  beakpeek/lib/View/Quiz/main.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/main.dart
  beakpeek/test/Database/database_calls_test.dart
  beakpeek/test/Database/life_list_provider_test.dart
  beakpeek/test/Map/map_info_test.dart
  beakpeek/test/Map/map_test.dart
  beakpeek/test/Model/bird_test.dart
  beakpeek/test/Searching/bird_search_functions_test.dart
  beakpeek/test/Searching/bird_search_functions_test.mocks.dart
  beakpeek/test/Searching/filterable_searchbar_test.dart
  beakpeek/test/Searching/life_list_provider_test.mocks.dart
  beakpeek/test/Searching/searchbar_container_test.dart
  beakpeek/test/UserProfile/local_storage_test.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/UserProfile/user_profile_function_test.mocks.dart
  beakpeek/test/bird_quiz_test.dart
  beakpeek/test/bird_quiz_test.mocks.dart
  beakpeek/test/bird_sheet_test.dart
  beakpeek/test/heat_map_test.dart
  beakpeek/test/home_test.dart
  beakpeek/test/home_test.mocks.dart
  dotnet/BeakPeekApi/Controllers/BirdController.cs
Labels: bug, feature

#187 Fixed the heat map so that it works with the deployed api
  beakpeek/lib/Model/BirdInfo/bird_pentad.dart
  beakpeek/lib/Model/bird_map.dart
  beakpeek/lib/View/Map/heat_map.dart
Labels: enhancement

#188 Finished off the bird sheet and birds near you
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Map/bird_sheet.dart
Labels: feature

#190 Dev/feat/sighting
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/bird_search_functions.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
Labels: frontend
