Repository COS301-SE-2024/BeakPeek, pull requests merged in 2024-09, with the labels that each got.

#200 Added preloading functionality for the quiz
  beakpeek/lib/Controller/Home/quiz_manager.dart
  beakpeek/lib/Model/quiz_instance.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
Labels: enhancement, feature

#202 Added offline error component
  beakpeek/lib/Controller/Azure/login.dart
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Model/BirdInfo/bird_search_functions.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Home/Searching/local_search.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/lib/View/offline_message.dart
Labels: frontend

#203 :twisted_rightwards_arrows: Adding profile photo
  beakpeek/lib/Controller/Home/quiz_manager.dart
  beakpeek/lib/Controller/Home/sound_controller.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
Labels: feature

#204 update 5 files and delete 2 files
  beakpeek/lib/Model/BirdInfo/bird_search_functions.dart
  beakpeek/lib/Model/Sightings/sightings_functions.dart
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar_widgets.dart
  beakpeek/lib/View/Sightings/sighting_widgets.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/View/UserProfile/user_profile_widgets.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/UserProfile/user_profile_function_test.mocks.dart
Labels: DevOps

#260 📝 doc: Documention addition to dev
  doc/ArchDiagram/ArchDiagramNoComponents.drawio
  doc/ArchDiagram/BeakPeekArchDiagram.drawio
  doc/Legal/BeakPeekCookiePolicy.pdf
  doc/Legal/BeakPeekPrivacyPolicy.pdf
  doc/Legal/BeakPeekTermsOfUse.pdf
  doc/SRS_SoftwareRequirementSpecification/SRSv4Draft.pdf
  doc/UserTest/UseabilityTestFeedback.pdf
  doc/UserTest/User Story BeakPeek.docx
  doc/UserTest/~$er Story BeakPeek.docx
Labels: documentation

#264 :twisted_rightwards_arrows: Fix a null reference for bird pentads
  dotnet/BeakPeekApi/Controllers/BirdController.cs
Labels: bug

#262 ✨ feat: All changes done in prep for Useability Test
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
  beakpeek/lib/Model/nav.dart
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Login/landing_page.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/main.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/UserProfile/user_profile_function_test.dart
Labels: feature

#268 Population Calculations and data added
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/bird_page_functions.dart
Labels: feature

#269 Added the functionality for the Color Palette
  beakpeek/lib/Controller/Main/color_palette_functions.dart
  beakpeek/lib/Controller/Main/routing_data.dart
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/lib/View/Map/heat_map_info.dart
  beakpeek/lib/View/UserProfile/color_palette.dart
  beakpeek/lib/main.dart
Labels: enhancement

#270 🛠️ fix: Fixed the getBirdPentads api call
  dotnet/BeakPeekApi/Models/Pentad.cs
  dotnet/BeakPeekApi/Models/Province.cs
Labels: bug

#272 Added functionality for offline images
  beakpeek/assets/BirdList/allbirds.json
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Controller/Home/quiz_manager.dart
  beakpeek/lib/Controller/Home/sound_controller.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/BirdInfo/bird_pentad.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/Model/bird_map.dart
  beakpeek/lib/Model/bird_page_functions.dart
  beakpeek/lib/Model/quiz_instance.dart
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar_widgets.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
Labels: enhancement

#277 Fixed up the lifelist and tests
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar_widgets.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/heat_map_test.dart
Labels: bug

#281 :twisted_rightwards_arrows: Adding integration for frontend to use user api
  beakpeek/android/app/src/main/AndroidManifest.xml
  beakpeek/lib/Controller/Azure/login.dart
  beakpeek/lib/Model/UserProfile/achievement.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/config_azure.dart
  beakpeek/lib/main.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  dotnet/UserApi/UserApi/Controllers/UserRolesController.cs
Labels: enhancement, DevOps, frontend

#283 :twisted_rightwards_arrows: Cache the birds near you
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/View/Home/home.dart
Labels: enhancement

#286 Added the monthly filter to the heatmap
  beakpeek/lib/Model/BirdInfo/bird_pentad.dart
  beakpeek/lib/View/Map/heat_map.dart
Labels: enhancement

#287 Dev/feat/sqlite calls
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
  beakpeek/lib/Model/bird_page_functions.dart
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/config_azure.dart
  beakpeek/pubspec.lock
Labels: bug, enhancement, fix

#288 ✨Introduce new features. 🎨Improve structure / format of the code.
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/View/Achievements/achievements_page.dart
  beakpeek/lib/View/Settings/settings_page.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/main.dart
  beakpeek/linux/flutter/generated_plugin_registrant.cc
  beakpeek/linux/flutter/generated_plugins.cmake
  beakpeek/macos/Flutter/GeneratedPluginRegistrant.swift
  beakpeek/test/Database/database_calls_test.dart
  beakpeek/windows/flutter/generated_plugin_registrant.cc
  beakpeek/windows/flutter/generated_plugins.cmake
Labels: enhancement, feature, frontend

#291 :sparkles: Added an endpoint to delete a user
  dotnet/UserApi/UserApi/Controllers/UserController.cs
Labels: enhancement, feature, frontend

#289 :twisted_rightwards_arrows: Added the color scheme functionality and the legend to the heat map
  beakpeek/lib/Controller/Main/color_palette_functions.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/Model/bird_page_functions.dart
  beakpeek/lib/View/Map/bird_sheet.dart
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/lib/View/Settings/settings_page.dart
  beakpeek/lib/View/UserProfile/color_palette.dart
Labels: enhancement

#293 Reworked the location to only work in South Africa
  beakpeek/lib/Model/BirdInfo/bird_pentad.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Map/bird_map.dart
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/lib/View/UserProfile/color_palette.dart
Labels: enhancement

#295 Added a check for the location to make sure you are in South Africa
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Map/bird_map.dart
Labels: enhancement

#302 Made the quiz into a game
  beakpeek/lib/Controller/Home/quiz_manager.dart
  beakpeek/lib/Model/BirdInfo/bird_pentad.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
Labels: enhancement

#306 :twisted_rightwards_arrows: Fix User login
  beakpeek/lib/Model/UserProfile/user_model.dart
Labels: bug, fix

#309 ✨ Feat: Connected the edit profile page to the online api
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/View/Settings/edit_user_profile.dart
Labels: enhancement, feature, frontend

#311 🛠️ Fix: Fixed a problem with logging in after changing username
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Login.cshtml
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Login.cshtml.cs
  dotnet/UserApi/UserApi/Controllers/UserController.cs
  dotnet/UserApi/UserApi/Models/AppUser.cs
Labels: bug, fix

#314 ✨ Feat: Added achievement logic for the flutter frontent
  beakpeek/lib/Controller/Azure/login.dart
  beakpeek/lib/Model/UserProfile/achievement.dart
  beakpeek/lib/Model/UserProfile/achievment_list.dart
  beakpeek/lib/Model/UserProfile/user_achievment.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/View/Achievements/achievements_page.dart
  beakpeek/lib/config_azure.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
Labels: enhancement, feature, frontend

#313 🛠️ fix:Routing fixes and Guest User
  beakpeek/lib/Controller/Azure/login.dart
  beakpeek/lib/Controller/Main/routing_data.dart
  beakpeek/lib/Model/BirdInfo/bird_search_functions.dart
  beakpeek/lib/Model/nav.dart
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Home/GuestUserBlock/guest_user_block.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Home/Searching/local_search.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Login/landing_tab_2.dart
  beakpeek/lib/View/Login/terms_and_conditions_popup.dart
  beakpeek/lib/View/Map/bird_sheet.dart
  beakpeek/lib/View/Map/heat_map_info.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
  beakpeek/lib/View/Sightings/sighting_widgets.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
Labels: enhancement, frontend, fix

#316 🛠️ Fix: Fixed a problem with redirecting to mobile
  beakpeek/lib/config_azure.dart
  beakpeek/pubspec.lock
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Manage/Index.cshtml
  dotnet/UserApi/UserApi/Controllers/HomeController.cs
  dotnet/UserApi/UserApi/Views/Home/Index.cshtml
  dotnet/UserApi/UserApi/Views/Home/Privacy.cshtml
  dotnet/UserApi/UserApi/Views/Shared/_Layout.cshtml
Labels: bug, fix

#318 :twisted_rightwards_arrows: Fixing user login, adding logout
  beakpeek/lib/Controller/Azure/login.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/View/Login/landing_tab_2.dart
  beakpeek/lib/View/Login/terms_and_conditions_popup.dart
  beakpeek/lib/View/Settings/settings_page.dart
  dotnet/UserApi/UserApi/Controllers/UserController.cs
Labels: enhancement, feature, frontend, fix

#319 🛠️ Fix: Fixed a problem where guest signin would try signin the user
  beakpeek/lib/View/Login/landing_tab_2.dart
Labels: bug, fix

#322 🛠️ Fix: Lifelist fixes
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird_search_functions.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
  beakpeek/lib/View/Bird/bird_page.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
Labels: bug, frontend, fix

#324 🛠️ Fix: Stop user lifelist from being uploaded
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/UserProfile/user_profile_function.dart
Labels: bug, frontend, fix

#326 :hammer_and_wrench: Fixed some errors with with heatmap and linked the quiz scores to the user database
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/lib/View/Map/heat_map_info.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
  beakpeek/lib/View/UserProfile/color_palette.dart
Labels: enhancement, fix

#329 :hammer_and_wrench: Fixed the sorting on the map and removed the windows folder
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Map/bird_sheet.dart
  beakpeek/windows/.gitignore
  beakpeek/windows/CMakeLists.txt
  beakpeek/windows/flutter/CMakeLists.txt
  beakpeek/windows/flutter/generated_plugin_registrant.cc
  beakpeek/windows/flutter/generated_plugin_registrant.h
  beakpeek/windows/flutter/generated_plugins.cmake
  beakpeek/windows/runner/CMakeLists.txt
  beakpeek/windows/runner/Runner.rc
  beakpeek/windows/runner/flutter_window.cpp
  beakpeek/windows/runner/flutter_window.h
  beakpeek/windows/runner/main.cpp
  beakpeek/windows/runner/resource.h
  beakpeek/windows/runner/resources/app_icon.ico
  beakpeek/windows/runner/runner.exe.manifest
  beakpeek/windows/runner/utils.cpp
  beakpeek/windows/runner/utils.h
  beakpeek/windows/runner/win32_window.cpp
  beakpeek/windows/runner/win32_window.h
Labels: fix

#330 🛠️ fix: Fixed the filter by life list on the map
  beakpeek/lib/View/Map/bird_sheet.dart
Labels: fix

#332 :sparkles: Feat Added achievement control and Quiz master achievement logic
  beakpeek/lib/Controller/Azure/login.dart
  beakpeek/lib/Model/UserProfile/achievement.dart
  beakpeek/lib/Model/UserProfile/achievment_list.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/View/Achievements/achievements_page.dart
  beakpeek/pubspec.lock
Labels: enhancement, feature, frontend

#335 🛠️ Fix: Fixed logout
  beakpeek/lib/Model/UserProfile/user_model.dart
Labels: bug, fix

#334 🛠️ fix: Fixed the routing and heat map
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Map/heat_map.dart
Labels: fix

#336 🛠️ fix: Fixed the search to fetch by both species and group
  beakpeek/lib/Model/BirdInfo/bird_search_functions.dart
Labels: fix

#339 ✨ feat: Added a progression bar to the bird sound
  beakpeek/lib/Controller/Home/sound_controller.dart
Labels: enhancement

#341 💄UI Update: Updated guest UI - merging into development
  beakpeek/lib/Controller/Home/sound_controller.dart
  beakpeek/lib/View/Home/GuestUserBlock/guest_user_block.dart
  beakpeek/lib/View/Login/terms_and_conditions_popup.dart
  beakpeek/lib/View/Sightings/sightings.dart
Labels: enhancement, frontend

#343 :twisted_rightwards_arrows: Adding User registration fixes and changes
  dotnet/BirdApi/BeakPeekApi/Program.cs
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Login.cshtml
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Manage/Email.cshtml
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Manage/_ManageNav.cshtml
  dotnet/UserApi/UserApi/Views/Shared/_Layout.cshtml
Labels: bug, enhancement, feature, frontend, fix

#346 ➖ Removed all unused dependencies for flutter
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
Labels: dependencies

#345 :sparkles: feat: Colour Palette page entry from heat map
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/lib/View/UserProfile/color_palette.dart
Labels: enhancement

#349 🛠️ fix: Made the heatmap reload when you change the colour palette
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/pubspec.lock
Labels: fix

#352 🛠️ Fix: Fixed the delete button on the admin portal
  dotnet/UserApi/UserApi/Controllers/AchievementController.cs
  dotnet/UserApi/UserApi/Controllers/AppUserController.cs
  dotnet/UserApi/UserApi/Views/AppUser/Delete.cshtml
Labels: bug, fix

#353 🛠️ fix: Fixed the sorting on the lifelist page
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird_search_functions.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/pubspec.yaml
Labels: fix

#354 💄 UI: Changed the user management portal
  dotnet/UserApi/UserApi/Views/AppUser/Index.cshtml
Labels: enhancement, frontend

#355 🔨 Script: Added a script for removing user made by the load test
  scripts/bash/remove_load_test_user.sh
Labels: DevOps, feature

#356 ✨ feat: Achievments update combinepdf.pdf, life_list_provider.dart
  beakpeek/assets/Legal/combinepdf.pdf
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/UserProfile/achievment_list.dart
  beakpeek/pubspec.yaml
Labels: bug, documentation, enhancement, feature, fix

#357 ✨ feat: Migrate the lifelist when on a new phone
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/lib/View/UserProfile/user_profile_widgets.dart
Labels: enhancement

#358 👷 Add or update the Azure App Service build and deployment workflow config
  .github/workflows/main_beakpeekuserapi.yml
Labels: DevOps

#359 💄 UI Update: Updated login and register page and improved some text readability in app UI
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/lib/View/UserProfile/user_profile_widgets.dart
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Login.cshtml
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Register.cshtml
Labels: frontend
