Repository COS301-SE-2024/BeakPeek, pull requests merged in 2024-07, with the labels that each got.

#121 Tesing mocks
  beakpeek/lib/Controller/Azure/login.dart
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Model/bird.dart
  beakpeek/lib/Model/oauth_login.dart
  beakpeek/lib/Model/user_profile_function.dart
  beakpeek/lib/Styles/custom_text_span.dart
  beakpeek/lib/Styles/landing_page_styles.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Home/Searching/searchbar_container.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Home/map_info.dart
  beakpeek/lib/View/Login/landing_tab_2.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/main.dart
  beakpeek/test/Database/database_calls_test.mocks.dart
  beakpeek/test/Searching/bird_search_functions_test.mocks.dart
  beakpeek/test/Searching/searchbar_container_test.dart
  beakpeek/test/Searching/searchbar_container_test.mocks.dart
  beakpeek/test/UserProfile/local_storage_test.dart
  beakpeek/test/UserProfile/local_storage_test.mocks.dart
  beakpeek/test/UserProfile/local_storage_wrapper.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/UserProfile/user_profile_test.dart
  beakpeek/test/user_profile_test.dart
Labels: testing

#123 Feat/adding tests
  beakpeek/android/app/src/main/AndroidManifest.xml
  beakpeek/lib/Controller/Azure/login.dart
  beakpeek/lib/Controller/Main/routing_data.dart
  beakpeek/lib/Controller/Main/theme_provider.dart
  beakpeek/lib/Model/LandingText/login_stack.dart
  beakpeek/lib/Model/LandingText/signup_stack.dart
  beakpeek/lib/Model/login_model.dart
  beakpeek/lib/Model/nav.dart
  beakpeek/lib/Model/user_profile_function.dart
  beakpeek/lib/Styles/theme_colors.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Home/map_info.dart
  beakpeek/lib/View/Login/landing_page.dart
  beakpeek/lib/View/Login/landing_tab_2.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/main.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/Main/theme_provider_test.dart
  beakpeek/test/Map/bird_map_model_test.dart
  beakpeek/test/Map/bird_map_model_test.mocks.dart
  beakpeek/test/Map/bird_map_test.mocks.dart
  beakpeek/test/Map/map_info_test.dart
  beakpeek/test/Map/map_test.dart
  beakpeek/test/Searching/bird_search_functions_test.dart
  beakpeek/test/UserProfile/local_storage_test.mocks.dart
  beakpeek/test/help_icon_model_functions_test.dart
Labels: enhancement, testing, frontend

#134 Added endpoints to get the provinces that a bird appears in
  dotnet/.gitignore
  dotnet/BeakPeekApi.Tests/Controllers/BirdControllerTest.cs
  dotnet/BeakPeekApi/.vscode/launch.json
  dotnet/BeakPeekApi/.vscode/tasks.json
  dotnet/BeakPeekApi/Controllers/BirdController.cs
  dotnet/BeakPeekApi/Program.cs
Labels: enhancement, feature

#138 Dev/feat/life list
  beakpeek/lib/Controller/DB/database_calls.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/user_profile_function.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Login/landing_tab_2.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/main.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/Database/database_calls_test.dart
  beakpeek/test/Map/bird_map_test.mocks.dart
  beakpeek/test/Searching/bird_search_functions_test.dart
  beakpeek/test/Searching/bird_search_functions_test.mocks.dart
  beakpeek/test/Searching/filterable_searchbar_test.dart
  beakpeek/test/Searching/life_list_provider_test.mocks.dart
  beakpeek/test/UserProfile/local_storage_test.dart
  beakpeek/test/UserProfile/local_storage_test.mocks.dart
  beakpeek/test/UserProfile/user_profile_function_test.dart
  beakpeek/test/UserProfile/user_profile_test.dart
Labels: testing, feature
