Repository COS301-SE-2024/BeakPeek, pull requests merged in 2024-10, with the labels that each got.

#365 🔀 Changed the backend to fetch images by Scientific Name
  dotnet/BirdApi/BeakPeekApi/Helpers/BirdImageHelper.cs
Labels: fix

#366 🔀 Added the awards documentation
  doc/Awards/Algorithms/algorithms.tex
  doc/Awards/Datascience/datascience.tex
Labels: documentation

#367 🔀 Fixed the ui in multiple areas
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/Model/UserProfile/achievment_list.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/Styles/colors.dart
  beakpeek/lib/View/Achievements/achievements_page.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Map/bird_sheet.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
  beakpeek/lib/View/Settings/settings_page.dart
  beakpeek/lib/View/Sightings/sightings.dart
  beakpeek/lib/main.dart
Labels: fix

#368 🔀 Updated the functionality of the endangered
  beakpeek/lib/View/Map/heat_map.dart
Labels: fix, AnyChange

#370 ✨ Added automations needed to import birds from SABAB
  .github/workflows/deploy_dotnet.yml
  .github/workflows/update_birds.yml
  dotnet/BirdApi/BeakPeekApi.Tests/Controllers/ImportControllerTest.cs
  dotnet/BirdApi/BeakPeekApi/Controllers/ImportController.cs
  dotnet/BirdApi/BeakPeekApi/Helpers/CsvImporter.cs
  dotnet/BirdApi/BeakPeekApi/appsettings.Development.json
  scripts/bash/auto_import.sh
  scripts/bash/download_regions.sh
Labels: feature, AnyChange

#371 🛠️ Fixed some problems with running the correct tasks when importing birds
  scripts/bash/auto_import.sh
Labels: fix, AnyChange

#372 👷 The aab is now only uploaded if the version name isn't already on google play
  .github/workflows/deploy_flutter.yml
  beakpeek/Fastfile
  beakpeek/android/fastlane/Fastfile
  beakpeek/android/fastlane/README.md
Labels: documentation, fix, AnyChange, flutter

#373 🛠️ Fix: Life list achivements update life_list_provider.dart, achievm…
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/Model/UserProfile/achievment_list.dart
  beakpeek/lib/View/Achievements/achievements_page.dart
  beakpeek/lib/main.dart
Labels: fix, AnyChange

#374 🚀 Added a workflow that tests and uploads coverage reports for the backend and frontend
  .github/workflows/coverage.yml
  .github/workflows/dotnet.yml
  .github/workflows/flutter.yml
Labels: feature, AnyChange

#375 🧪 Testing controllers
  .gitignore
  beakpeek/.gitignore
  beakpeek/bootstrap_fastlane.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/Azure/login_test.dart
  beakpeek/test/Controllers/Azure/login_test.dart
  beakpeek/test/Controllers/Azure/login_test.mocks.dart
  beakpeek/test/Controllers/Database/database_calls_test.dart
  beakpeek/test/Controllers/Database/database_calls_test.mocks.dart
  beakpeek/test/Controllers/Database/life_list_provider_test.dart
  beakpeek/test/Controllers/Database/life_list_provider_test.mocks.dart
  beakpeek/test/Controllers/Home/search_test.dart
  beakpeek/test/Controllers/Main/color_palette_functions_test.dart
  beakpeek/test/Controllers/Main/routing_data_test.dart
Labels: AnyChange, flutter, root, test

#377 📃 Added Devops Document
  .github/workflows/coverage.yml
  .github/workflows/dotnet.yml
  .github/workflows/flutter.yml
  .gitignore
  beakpeek/.gitignore
  beakpeek/bootstrap_fastlane.dart
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/Globals/globals.dart
  beakpeek/lib/Model/UserProfile/achievment_list.dart
  beakpeek/lib/View/Achievements/achievements_page.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
  beakpeek/lib/main.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/Azure/login_test.dart
  beakpeek/test/Controllers/Azure/login_test.dart
  beakpeek/test/Controllers/Azure/login_test.mocks.dart
  beakpeek/test/Controllers/Database/database_calls_test.dart
  beakpeek/test/Controllers/Database/database_calls_test.mocks.dart
  beakpeek/test/Controllers/Database/life_list_provider_test.dart
  beakpeek/test/Controllers/Database/life_list_provider_test.mocks.dart
  beakpeek/test/Controllers/Home/search_test.dart
  beakpeek/test/Controllers/Main/color_palette_functions_test.dart
  beakpeek/test/Controllers/Main/routing_data_test.dart
  doc/Awards/DevOps/devops.pdf
  doc/Awards/DevOps/devops.tex
Labels: documentation, AnyChange, flutter, root

#378 📃 Documention
  beakpeek/pubspec.yaml
  doc/Awards/Algorithms/BeakPeek_Algorithmic_Innovation_Award.pdf
  doc/Awards/Algorithms/algorithms.tex
  doc/Awards/Assets/BeakPeekLogoNoBackground.png
  doc/Awards/Datascience/BeakPeek_Data_Science_Award.pdf
  doc/Awards/Datascience/datascience.tex
  doc/Awards/DevOps/devops.pdf
  doc/Awards/DevOps/devops.tex
  doc/SRS_SoftwareRequirementSpecification/SRS Demo1.pdf
  doc/SRS_SoftwareRequirementSpecification/SRSv1.pdf
  doc/SRS_SoftwareRequirementSpecification/SRSv4Draft.pdf
  doc/UserTest/UseabilityTestFeedback.pdf
Labels: documentation, AnyChange, flutter

#376 🔀 Added Tests
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/Model/UserProfile/user_model.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Map/bird_map.dart
  beakpeek/lib/View/Map/bird_sheet.dart
  beakpeek/lib/View/Map/heat_map.dart
  beakpeek/test/Home/home_test.dart
  beakpeek/test/Map/bird_map_test.dart
  beakpeek/test/Map/bird_sheet_test.dart
  beakpeek/test/Map/bird_sheet_test.mocks.dart
  beakpeek/test/Map/heat_map_test.dart
  beakpeek/test/Models/achievements_test.dart
  beakpeek/test/Models/bird_test.dart
  beakpeek/test/Models/pentad_test.dart
  beakpeek/test/Models/user_model_test.dart
  beakpeek/test/home_test.mocks.dart
Labels: testing, AnyChange, test

#383 📃 Devops Final
  BeakPeek/.vscode/settings.json
  README.md
  doc/Awards/Assets/andoird.png
  doc/Awards/Assets/codecov.png
  doc/Awards/Assets/coverage_generate.png
  doc/Awards/Assets/coverage_yml.png
  doc/Awards/Assets/deploy_user.png
  doc/Awards/Assets/full.png
  doc/Awards/Assets/full_pipe.png
  doc/Awards/Assets/full_pipe_done.png
  doc/Awards/Assets/full_pipe_main.png
  doc/Awards/Assets/get_bird.png
  doc/Awards/Assets/grafan_user_api.png
  doc/Awards/Assets/load_test_graph.png
  doc/Awards/Assets/load_test_load.png
  doc/Awards/DevOps/devops.pdf
  doc/Awards/DevOps/devops.tex
  res/Charl.jpg
Labels: documentation, AnyChange, root

#382 🔀 Merge: Merging dev/feat/fe_changes into development
  BeakPeek/lib/Controller/DB/import_export.dart
  beakpeek/android/app/src/main/AndroidManifest.xml
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
  beakpeek/lib/View/Settings/settings_page.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/Controllers/Main/routing_data_test.dart
  beakpeek/test/Home/home_test.dart
  beakpeek/test/Map/bird_map_test.dart
  beakpeek/test/Map/bird_sheet_test.dart
  beakpeek/test/Map/heat_map_test.dart
  beakpeek/test/Models/achievements_test.dart
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Login.cshtml
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Manage/_Layout.cshtml
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Register.cshtml
  dotnet/UserApi/UserApi/Views/Home/Index.cshtml
  dotnet/UserApi/UserApi/Views/Home/Privacy.cshtml
  dotnet/UserApi/UserApi/wwwroot/css/site.css
Labels: feature, AnyChange, flutter

#384 😢😭😿 Showcase
  BeakPeek/.vscode/settings.json
  BeakPeek/lib/Controller/DB/import_export.dart
  README.md
  beakpeek/android/app/src/main/AndroidManifest.xml
  beakpeek/lib/Controller/DB/life_list_provider.dart
  beakpeek/lib/Model/BirdInfo/bird.dart
  beakpeek/lib/View/Quiz/bird_quiz.dart
  beakpeek/lib/View/Settings/settings_page.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/Controllers/Main/routing_data_test.dart
  beakpeek/test/Home/home_test.dart
  beakpeek/test/Map/bird_map_test.dart
  beakpeek/test/Map/bird_sheet_test.dart
  beakpeek/test/Map/heat_map_test.dart
  beakpeek/test/Models/achievements_test.dart
  doc/Awards/Assets/andoird.png
  doc/Awards/Assets/codecov.png
  doc/Awards/Assets/coverage_generate.png
  doc/Awards/Assets/coverage_yml.png
  doc/Awards/Assets/deploy_user.png
  doc/Awards/Assets/full.png
  doc/Awards/Assets/full_pipe.png
  doc/Awards/Assets/full_pipe_done.png
  doc/Awards/Assets/full_pipe_main.png
  doc/Awards/Assets/get_bird.png
  doc/Awards/Assets/grafan_user_api.png
  doc/Awards/Assets/load_test_graph.png
  doc/Awards/Assets/load_test_load.png
  doc/Awards/DevOps/devops.pdf
  doc/Awards/DevOps/devops.tex
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Login.cshtml
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Manage/_Layout.cshtml
  dotnet/UserApi/UserApi/Areas/Identity/Pages/Account/Register.cshtml
  dotnet/UserApi/UserApi/Views/Home/Index.cshtml
  dotnet/UserApi/UserApi/Views/Home/Privacy.cshtml
  dotnet/UserApi/UserApi/wwwroot/css/site.css
  res/Charl.jpg
Labels: documentation, AnyChange, flutter, root, release

#385 📝 Update README.md
  README.md
Labels: documentation, feature, AnyChange, root

#386 📃 Fixed a spelling mistake
  doc/Awards/DevOps/devops.pdf
  doc/Awards/DevOps/devops.tex
Labels: documentation, AnyChange

#389 🛠️ Fix: Fixing path problems with a tracking incorrect `BeakPeek`
  .gitignore
  BeakPeek/.vscode/settings.json
  beakpeek/lib/Controller/DB/import_export.dart
  beakpeek/pubspec.yaml
Labels: fix, AnyChange, flutter, root

#391 📃 Final Poject day touch ups
  README.md
Labels: documentation, AnyChange, root, release
