Repository COS301-SE-2024/BeakPeek, pull requests merged in 2024-06, with the labels that each got.

#40 Dev/feat/deploy
  docker-compose.yml
  dotnet/BeakPeekApi/BeakPeekApi.csproj
  dotnet/BeakPeekApi/Models/GautengBirdSpecies.cs
  dotnet/BeakPeekApi/Program.cs
  dotnet/BeakPeekApi/appsettings.Development.json
  scripts/sqlscripts/init.sql
Labels: enhancement

#49 Dev/test/dotnet
  .github/workflows/dotnet.yml
  .github/workflows/flutter.yml
  .gitignore
  beakpeek/lib/bird.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/bird_test.dart
  beakpeek/test/bird_test.mocks.dart
  codecov.yml
  dotnet/.gitignore
  dotnet/BeakPeekApi.Tests/BeakPeekApi.Tests.csproj
  dotnet/BeakPeekApi.Tests/Controllers/GuatengBirdSpeciesControllerTest.cs
  dotnet/BeakPeekApi.Tests/GlobalUsings.cs
  dotnet/BeakPeekApi.Tests/UnitTest1.cs
  dotnet/BeakPeekApi.Tests/packages.lock.json
  dotnet/BeakPeekApi.sln
  dotnet/BeakPeekApi/BeakPeekApi.csproj
  dotnet/BeakPeekApi/Models/AppDbContext.cs
  dotnet/BeakPeekApi/packages.lock.json
Labels: DevOps, testing, feature

#58 Dev/test/map
  beakpeek/android/app/build.gradle
  beakpeek/assets/googleMaps.html
  beakpeek/lib/Model/nav.dart
  beakpeek/lib/Model/top_search_bar.dart
  beakpeek/lib/Styles/custom_buttons.dart
  beakpeek/lib/View/Home/bird_map.dart
  beakpeek/lib/View/Home/bird_sheet.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/Home/map_info.dart
  beakpeek/lib/main.dart
  beakpeek/lib/province_gauteng.kml
  beakpeek/lib/test.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/bird_sheet_test.dart
  beakpeek/test/bird_sheet_test.mocks.dart
  beakpeek/test/bird_test.dart
  beakpeek/test/home_test.dart
  beakpeek/test/map_test.dart
  docker-compose.yml
Labels: testing

#64 Dev/feat/filtering update
  beakpeek/android/app/src/main/AndroidManifest.xml
  beakpeek/lib/Model/bird.dart
  beakpeek/lib/Model/bird_search_functions.dart
  beakpeek/lib/Model/top_search_bar.dart
  beakpeek/lib/View/Home/Searching/filterable_searchbar.dart
  beakpeek/lib/View/Home/Searching/searchbar_container.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/main.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/home_test.dart
Labels: feature

#95 Dev/feat/user profile
  beakpeek/assets/images/profileImages/images.jpg
  beakpeek/lib/Model/user_profile_function.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/lib/main.dart
  beakpeek/pubspec.lock
  beakpeek/pubspec.yaml
  beakpeek/test/user_profile_test.dart
Labels: frontend

#96 Home Button
  beakpeek/lib/View/UserProfile/user_profile.dart
  beakpeek/test/user_profile_test.dart
Labels: frontend

#98 Made the test for my heat map
  beakpeek/test/heat_map_test.dart
Labels: testing

#100 Added more testing to the heat map
  beakpeek/lib/View/Home/heat_map.dart
  beakpeek/test/heat_map_test.dart
Labels: testing

#103 Dev/help tests
  beakpeek/lib/Model/help_icon_model_functions.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/main.dart
  beakpeek/test/bird_search_functions_test.dart
  beakpeek/test/heat_map_test.dart
  beakpeek/test/help_icon_model_functions_test.dart
  beakpeek/test/home_test.dart
Labels: testing, frontend

#105 Dev/feat/api search
  beakpeek/lib/Model/bird_map.dart
  beakpeek/lib/Model/bird_search_functions.dart
  beakpeek/lib/View/Home/bird_sheet.dart
  beakpeek/lib/View/Home/heat_map_info.dart
  beakpeek/lib/View/Home/home.dart
  beakpeek/test/bird_search_functions_test.dart
  beakpeek/test/bird_test.dart
  beakpeek/test/heat_map_test.dart
  beakpeek/test/help_icon_model_functions_test.dart
  beakpeek/test/home_test.dart
Labels: testing

#110 Demo 2 Final
  README.md
  beakpeek/lib/View/Home/home.dart
  beakpeek/lib/main.dart
Labels: documentation
